    <script type="text/javascript" charset="utf-8">
        var list = {{ data | tojson | safe }};
        const BASE_URL = {{ BASE_URL | tojson | safe }};
        const WARTEG_API = "/api/warteg"
    </script>
