<!DOCTYPE HTML>
<html>
    <head>
    <link rel="stylesheet" href="http://cdn.webix.com/edge/webix.css" type="text/css"> 
    <script src="http://cdn.webix.com/edge/webix.js" type="text/javascript"></script>  
    </head>
    <body>
        <script type="text/javascript" charset="utf-8">
        var list = {{data|safe}}
        webix.ui({
        rows:[
            { view:"template", 
                type:"header", template:"Warteg List" },
            { view:"toolbar", id:"mybar", elements:[
                { view:"button", value:"Save", width:70 }, 
                { view:"button", value:"Delete", width:70 },
                { view:"button", value:"Clear", width:95}]
            },
            { view:"datatable", 
                autoConfig:true, 
                data: list
            },
            { cols:[
                {view:"form", id:"myform", width:200, elements:[
                    { view:"text", name:"title", placeholder:"Title", width:180, align:"center"}, 
                    { view:"text", name:"year", placeholder:"Year", width:180, align:"center"}
                    ]
                },
                ]
            }
        ]});
        </script>
    </body>
</html>