<!DOCTYPE HTML>
<html>

<head>
    {% include 'jinja/webix.j2' %}
    <title>Wartegria</title>
</head>

<body>
{% include 'jinja/constants.j2' %}
    <script type="text/javascript" charset="utf-8">

        webix.ui({
            type: "space",
            id: "a1",
            rows:[
                    { view:"template", template:"<p align='center'>WAR-teg</p>", type:"header", height:75},
              {
            rows: [{
                type: "space",
                padding: 0,
                responsive: "a1",
                cols: [{
                        view: "list",
                        id: "listmenu",
                        select: true,
                        scroll: false,
                        width: 120,
                        data: ["Home"], //, "Manage"],
                    },
                    {
                        view: "datatable",
                        id: "mylist",
                        select: true,
                        columns: [{
                                id: "name",
                                editor: "text",
                                header: "Nama",
                                adjust: true
                            },
                            {
                                id: "desc",
                                editor: "text",
                                header: "Deskripsi",
                                adjust: true
                            },
                            {
                                id: "addr",
                                editor: "text",
                                header: "Alamat",
                                adjust: true
                            },
                            {
                                id: "dist",
                                editor: "text",
                                header: "Jarak",
                                adjust: true
                            }
                        ],
                        data: list
                    },
                    {
                        view: "form",
                        maxWidth: 600,
                        // scroll: true,
                        id: 'myform',
                        elements: [{
                                view: "label",
                                label: "Tambah Warteg",
                                align: "center"
                            },
                            {
                                view: "text",
                                name: "name",
                                label: "Nama"
                            },
                            {
                                view: "text",
                                name: "addr",
                                label: "Alamat"
                            },
                            {
                                view: "text",
                                name: "dist",
                                label: "Jarak"
                            },
                            {
                                view: "textarea",
                                name: "desc",
                                label: "Deskripsi"
                            },
                            {
                                cols: [{
                                    view: "toolbar",
                                    id: "mybar",
                                    elements: [{
                                            view: "button",
                                            type: "icon",
                                            icon: "wxi-pencil",
                                            value: "Save",
                                            label: "Save",
                                            click: save_data
                                        },
                                        {
                                            view: "button",
                                            type: "icon",
                                            icon: "wxi-sync",
                                            value: "Reset",
                                            label: "Reset",
                                            click: () => $$("myform").clear()
                                        },
                                        {
                                            view: "button",
                                            type: "icon",
                                            icon: "wxi-trash",
                                            value: "Delete",
                                            label: "Delete",
                                            click: delete_data
                                        }
                                    ]
                                }]
                            }
                        ]
                    }
                ]
            }]
              }]
        });
        
        function save_data() {
            const values = $$("myform").getValues();
            if (values.id)
                $$("mylist").updateItem(values.id,values);
            else
                webix.ajax().post("http://127.0.0.1:5001/api/warteg/", { 'name':values.name, 'desc':values.desc, 'addr':values.addr, 'dist':values.dist }).then(function(data){
                    console.log(data.text());
                    $$("mylist").add(values);
                });
        }

        $$("mylist").attachEvent("onAfterSelect", function (id) {
            const item = $$("mylist").getItem(id);
            $$("myform").setValues(item);
        });

        $$("listmenu").attachEvent("onAfterSelect", function (id) {
            const item = $$("listmenu").getItem(id);
            window.open(item.value.toLowerCase(), "_self");
        });

        function delete_data() {
            var id = $$("mylist").getSelectedId();

            webix.confirm({
                title: "Delete", // the text of the box header
                text: "Are you sure you want to delete the selected item?",
                callback: function (result) {
                    if (result) {
                        $$("mylist").remove(id);
                        webix.ajax().del("http://127.0.0.1:5001/api/warteg/", { 'id':id.id }).then(function(data){
                            console.log(data.text());
                        });
                    }
                }
            });
        }
    </script>
</body>

</html>